{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            <div class="posts">
                <div class="page-heading">{{ .Title }}</div>
                <ul>                                      
                    {{ range sort .Pages.ByDate.Reverse }}
                        {{ partial "li.html" . }}
                    {{ end }}                    
                </ul>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
